.test {
    width: 100vw;
    height: 85vh;
    margin-top: 15vh;
    padding: 10vh 15vw;
    background: rgba(251, 206, 55, 1);
}

.dark-theme {
    background-color: black;
    color: #ffffff;
}

.scale {
    height: 15vh;
    padding-left: 40px;
}

.scaleText {

    font-size: 150%;
}

.scaleTitle{
    font-size: 200%;
    padding-left: 40px;
}

.test h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
    font-size: 75px;
    margin: 5vh;
}

.test button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    margin-top: 5vh;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.test button:hover {
    box-shadow: 0 5px #666;
    color: white;
    transform: translateY(4px);
}
.image{
    background-image: url("books.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 35vw;
    height: 20vw;
    margin-right: -10vw;
}

.btn{
    margin-left: 5vh;
}

.started{
    margin-top: -4vh;
}
Navbar{
    padding-left: 7vw;
}

.des{
    font-weight: 300;
    font-family: Arial, serif;
    font-size: 24px;
    margin: 5vh;
}

.back {
    padding: 0 7vh;
}